@import '../../style/utils.styl'
@import '../../style/media.styl'

.form
  display: flex
  flex-direction: column

.formSubmitted
  @extends .form
  .formFieldBox
    opacity: 0.5

.formFieldBox
  flex: 1
  position: relative
  margin-left: pxToRem(45)
  display: flex
  +mobile()
    margin-left: pxToRem(0)

.formFieldBox + .formFieldBox
  margin-top: pxToRem(70)
  +mobile()
    margin-top: pxToRem(20)

.formField
  flex: 1
  display: block
  border: none
  border-bottom: pxToRem(2) solid $BLACK
  padding-right: pxToRem(40)
  border-radius: 0
  &Hint
    position: absolute
    left: 0
    bottom: pxToRem(-50)
    max-width: 100vw - pxToRem(150)
    overflow: hidden
    +mobile()
      bottom: pxToRem(-20)
  +mobile()
    border-bottom: pxToRem(1) solid $BLACK

.formFieldIndicator,
.formFieldIndicatorValid
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  border-radius: 9999px
  border: pxToRem(2) solid $BLACK
  width: pxToRem(22)
  height: pxToRem(22)
  transition: background-color 0.3s ease
  +mobile()
    border: pxToRem(1) solid $BLACK
    width: pxToRem(8)
    height: pxToRem(8)
    margin-top: - pxToRem(3)

.formFieldIndicatorValid
  background-color: $BLACK

.submit
  font-variant-alternates: stylistic(fancy)
  margin-top: pxToRem(100)
  border: none
  width: pxToRem(725)
  height: pxToRem(192)
  background-color: $BLACK
  color: $YELLOW
  padding-left: pxToRem(55px)
  text-align: left
  padding-top: pxToRem(10px)
  transition: opacity 0.3s ease
  +mobile()
    margin-top: pxToRem(25)
    padding-left: pxToRem(15px)
    width: 100vw
    transform: translateX(- pxToRem(15))
    height: pxToRem(80px)

.submit:disabled
  opacity: 0.5

.success
  background-color: $BLACK
  color: $YELLOW
  padding: pxToRem(60) pxToRem(60) pxToRem(65)
  margin: 70px 0 0
  &Text
    padding-right: pxToRem(150)
    +mobile()
      padding-right: 0
      margin-left: 0
      margin-top: pxToRem(-20)
  +mobile()
    margin: pxToRem(30) pxToRem(-15) 0
    padding: pxToRem(20)
