@import '../../style/utils.styl'
@import '../../style/media.styl'

.icon
  display: block
  cursor: pointer

.fb
  width: pxToRem(8.2)
  height: pxToRem(17.7)

.tw
  width: pxToRem(17.1)
  height: pxToRem(13.9)

.ig
  width: pxToRem(16.9)
  height: pxToRem(16.9)

.yt
  width: pxToRem(20)
  height: pxToRem(14)

.li
  width: pxToRem(16.9)
  height: pxToRem(16.9)

.pc
  width: pxToRem(16.5)
  height: pxToRem(16.5)
