@font-face {
  font-family: OnyFuture;
  src: url('../assets/fonts/OnyFuture.woff2') format('woff2'),
  url('../assets/fonts/OnyFuture.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

html, body {
	height: 100%;
	width: 100%;
	background: #FFE42B;
	font-family: OnyFuture, 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #000;
}

#app {
	height: 100%;
}
