@import './consts.styl'
@import './media.styl'
@import './text.styl'
@import './utils.styl'

@font-face {
  font-family: "OnyFuture";
  src: url('../assets/fonts/OnyFuture.woff2') format('woff2'),
    url('../assets/fonts/OnyFuture.woff') format('woff'),
    url('../assets/fonts/OnyFuture.eot?') format('eot'),
    url('../assets/fonts/OnyFuture.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: fallback
}

@font-feature-values "OnyFuture" {
  @stylistic { fancy: 1 }
}

html
  transition: background-color 0.5s ease

html, body
	height: 100%
	width: 100%
	background: $YELLOW
	color: $BLACK

:focus
  outline: none

:root {
	font-family: OnyFuture, 'Helvetica Neue', Helvetica, arial, sans-serif
	font-weight: normal
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw
  font-variant-alternates: stylistic(fancy)
}

+mobile()
  :root {
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw
  }

#app
	height: 100%

h2
  font-weight: normal

.input
  font-variant-alternates: stylistic(fancy)

.input::-moz-placeholder
  font-variant-alternates: stylistic(fancy)
  color: $GREY
  opacity: 1
.input::-webkit-input-placeholder  /* WebKit, Blink, Edge */
  font-variant-alternates: stylistic(fancy)
  color: $GREY
.input:-ms-input-placeholder  /* Internet Explorer 10-11 */
  font-variant-alternates: stylistic(fancy)
  color: $GREY
.input::-ms-input-placeholder  /* Microsoft Edge */
  font-variant-alternates: stylistic(fancy)
  color: $GREY
.input::placeholder  /* Most modern browsers support this now. */
  font-variant-alternates: stylistic(fancy)
  padding-top: pxToRem(10)
  color: $GREY

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus
  -webkit-text-fill-color: $BLACK
  -webkit-box-shadow: 0 0 0px 1000px $YELLOW inset

.black-bg
  background-color: $BLACK
  .input::-moz-placeholder
    color: $BLACK
  .input::-webkit-input-placeholder  /* WebKit, Blink, Edge */
    color: $BLACK
  .input:-ms-input-placeholder  /* Internet Explorer 10-11 */
    color: $BLACK
  .input::-ms-input-placeholder  /* Microsoft Edge */
    color: $BLACK
  .input::placeholder  /* Most modern browsers support this now. */
    color: $BLACK
