@import '../../style/consts.styl'
@import '../../style/media.styl'
@import '../../style/utils.styl'

.section
  display: flex
  +mobile()
    flex-direction: column
    childrenSpacingY(pxToRem(48))
    h2 br
      hide()

.column
  display: flex
  flex: 1

.text
  +mobile()
    margin-left: pxToRem(43)
