@import '../../style/consts.styl'
@import '../../style/utils.styl'

.section
  display: flex

.column
  display: flex
  flex: 1

.text
  max-width: 75%

.point
  width: pxToRem(62)
  height: pxToRem(62)
  border-radius: 9999px
  background-color: $BLACK
  margin-right: pxToRem(21)

