@import '../../style/consts.styl'
@import '../../style/utils.styl'
@import '../../style/media.styl'

.grid
  height: pxToRem(768)

  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: repeat(4, 1fr)
  +mobile()
    height: pxToRem(690)
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(6, 1fr)

  border: 1px solid $BLACK
  &Cell
    border: 1px solid $BLACK
    background-color: $YELLOW
  &CellD
    desktopOnly()
  &CellM
    mobileOnly()

.title
  grid-area: 1 / 1 / 2 / 2

.slogan
  grid-area: 3 / 6 / 4 / 9
  p
    max-width: pxToRem(545)
  +mobile()
    grid-area: 4 / 2 / 5 / 4
    p
      max-width: pxToRem(165)

.description
  grid-area: 1 / 3 / 3 / 5
  p
    max-width: pxToRem(262)
    +mobile()
      max-width: 100%
  +mobile()
    grid-area: 6 / 1 / 7 / 4
    padding: pxToRem(20)

.apply
  grid-area: 4 / 3 / 5 / 5
  background-color: $BLACK
  color: $YELLOW
  +mobile()
    grid-area: 4 / 1 / 5 / 2

.date
  grid-area: 1 / 8 / 2 / 9
  span
    transform: rotate(-45deg)
  +mobile()
    grid-area: 1 / 3 / 2 / 9

.bottom
  margin-top: pxToRem(50)
  +mobile()
    margin-top: pxToRem(45)

.rotatingSquare
  grid-area: 1 / 2 / 2 / 3
  border: pxToRem(26) solid $BLACK
  animation-duration: 5s
  animation-delay: 2s
  animation-name: square-rotation
  animation-iteration-count: infinite
  +mobile()
    grid-area: 1 / 2 / 2 / 3
    border: pxToRem(13) solid $BLACK

.circle
  width: 100%
  height: 50%
  min-width: 100%
  min-height: 50%
  border-radius: 9999px
  border: pxToRem(26) solid $BLACK
  +mobile()
    border: pxToRem(13) solid $BLACK

.circleBox
  height: 200%
  min-height: 200%
  width: 100%
  animation-duration: 5s
  animation-delay: 2s
  animation-name: double-circle
  animation-iteration-count: infinite
  animation-timing-function: ease

.doubleCircle
  grid-area: 3 / 1 / 5 / 3
  overflow: hidden
  +mobile()
    grid-area: 5 / 2 / 6 / 3

.flippingCircle
  grid-area: 1 / 7 / 2 / 8
  +mobile()
    grid-area: 2 / 1 / 3 / 2

.flippingCircleContent
  border-radius: 9999px
  width: 100%
  height: 100%
  background-color: $BLACK
  animation-name: circle-flip
  animation-duration: 5s
  animation-delay: 2s
  animation-timing-function: ease
  animation-iteration-count: infinite

.blackCircle1
  grid-area: 3 / 4 / 4 / 5
  +mobile()
    display: none

.blackCircle2
  grid-area: 4 / 6 / 5 / 7
  +mobile()
    display: none

.blackCircleContent
  border-radius: 9999px
  width: 100%
  height: 100%
  background-color: $BLACK

.emptyRect
  grid-area: 2 / 7 / 3 / 9
  border: pxToRem(26) solid $BLACK
  +mobile()
    display: none

.halfCircle1
  grid-area: 1 / 5 / 3 / 6
  overflow: hidden
  & .halfCircleContent
    height: 100%
    min-width: 200%
    margin-left: -100%
  +mobile()
    grid-area: 2 / 3 / 4 / 4
    & .halfCircleContent
      margin-left: 100%

.halfCircle2
  grid-area: 2 / 1 / 3 / 3
  overflow: hidden
  & .halfCircleContent
    min-height: 200%
    width: 100%
    margin-top: 50%
  +mobile()
    display: none

.halfCircleContent
  grid-area: 2 / 1 / 3 / 3
  border-radius: 9999px
  background-color: $BLACK

.socialCell
  grid-area: 4 / 8 / 5 / 9
  padding: pxToRem(30) pxToRem(40)
  display: flex
  flex-direction: column
  justify-content: space-between
  +mobile()
    display: none
  &Row
    display: flex
    width: 100%
    justify-content: space-between

@keyframes square-rotation {
  0% {
    transform: scale(1) rotate(0deg)
  }

  15% {
    transform: scale(0.5) rotate(0deg)
  }

  30% {
    transform: scale(0.5) rotate(90deg)
  }

  45%, 100% {
    transform: scale(1) rotate(90deg)
  }
}

@keyframes double-circle {
  0% {
    transform: translateY(25%)
  }

  30%, 100% {
    transform: translateY(-25%)
  }
}

@keyframes circle-flip {
  0% {
    transform: rotateX(0deg)
  }

  50%, 100% {
    transform: rotateX(180deg)
  }
}
