@import '../../style/utils.styl'

.experts
  margin-top: pxToRem(30)

.caption
  margin-bottom: pxToRem(20)

.row
  display: flex
  justify-content: space-between
  height: pxToRem(305)
  border-top: pxToRem(2) solid black

.row:last-child
  border-bottom: pxToRem(2) solid black


.item
  display: block
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.virgin
  width: pxToRem(115)
  height: pxToRem(101)

.apple
  width: pxToRem(72)
  height: pxToRem(85)

.nike
  width: pxToRem(126)
  height: pxToRem(45)

.wolfOlins
  width: pxToRem(215)
  height: pxToRem(26)

.microsoft
  width: pxToRem(61)
  height: pxToRem(61)

.facebook
  width: pxToRem(162)
  height: pxToRem(31)

.google
  width: pxToRem(100)
  height: pxToRem(102)

.ustwo
  width: pxToRem(150)
  height: pxToRem(43)

.pentagram
  width: pxToRem(202)
  height: pxToRem(39)

.skyscanner
  width: pxToRem(149)
  height: pxToRem(79)
